@import './../../../scss/variables';

.left-drawer{
    width: 320px;
}

.right-drawer{
    width: 284px;
}

.sidenav{
    width: $unit * 9;
    flex-shrink: 0;
    background: #fff;
    // border-right: 2px solid #fefeff;
}
.main{
    flex-grow: 1;
}