@import './../../../scss/variables';

.left-drawer{
    width: $pixelUnit * 30;
}

.sidenav{
    width: 74px;
    flex-shrink: 0;
    background: #fff;
    border-right: 2px solid #fefeff;
}
.main{
    flex-grow: 1;
}