.chat-container {
    .chatList{
        width: 270px;
        box-shadow: 2px 2px 2px #eee;
    }
    .chatMain{
        flex: 1;
        .chat-main{
            flex: 1;
            overflow: hidden;
        }
        .chat-input{
            // height: 100px;
            flex-shrink: 0;
        }
    }
}