.chat-container {
    .chatList{
        width: 270px;
        box-shadow: 2px 2px 2px #eee;
    }
    .chatMain{
        flex: 1;
        app-chat-main{
            flex: 1;
        }
        app-chat-input{
            height: 180px;
        }
    }
}