.chat-container {
    .chatList{
        width: 240px;
        box-shadow: 2px 2px 2px #eee;
    }
    .chatMain{
        flex: 1;
        app-chat-main{
            flex: 1;
        }
        app-chat-input{
            height: 160px;
        }
    }
}