<div class="relative chat-container flex h-100">
    <!-- 展示聊天列表记录的菜单 -->
    <ng-container *ngIf="showChatContext">
        <app-chatList-menu class="absolute chatContext" [ngStyle]="menuPosition"></app-chatList-menu>
    </ng-container>
    <!-- 聊天消息右键菜单 -->

    <div class="chatList">
        <app-chat-list [chatId]="chatId" (contextEvent)="handleChatListContenxt($event)"></app-chat-list>
    </div>

    <div *ngIf="chatId !== -1" class="chatMain flex-column">
        <app-chat-main [chatId]="chatId" class="chat-main"></app-chat-main>
        <app-chat-input [chatId]="chatId" class="chat-input"></app-chat-input>
    </div>

    <div *ngIf="chatId === -1" class="chatMain init_view relative">
        <mat-icon class="absolute">forum</mat-icon>
    </div>

</div>
