@import "src/scss/variables";

.chat-container {
    .chatList{
        width: 272px;
        // box-shadow: 2px 2px 2px #eee;
        // background:rgba(242,242,242,1);
    }
    .chatMain{
        flex: 1;
        .chat-main{
            flex: 1;
            overflow: hidden;
            background: #fff;
        }
        .chat-input{
            // height: 100px;
            flex-shrink: 0;
        }

        &.init_view{
            .absolute{
                font-size: 48px;
                width: 100px; height: 100px;
                display: block;
                left: 0; right: 0;
                top:0; bottom: 0;
                margin: auto;
                color: #ccc;
            }
        }
    }
    
    .chatContext{
        z-index: 1;
        width: 18 * $unit;
    }
}