<div class="chat-main-container h-100 flex-column">
	<div class="flex title p-sm-2 pl-2">
		<div class="info" *ngIf="chatTo.isGroup; else elseBlock;">
			<span>Keith Morris、小兵、林一、Selina</span>
			<span>(13)</span>
		</div>

		<ng-template #elseBlock>
			<div class="info">
				<span>Keith Morris</span>
			</div>
		</ng-template>

		<div class="operation">
			<ng-container *ngIf="!chatTo.isGroup">
				<button mat-icon-button>
					<mat-icon matTooltip="抖一抖" matTooltipPosition="below" fontSet="iconfont" fontIcon="icon-shake">
					</mat-icon>
				</button>

				<button mat-icon-button [disabled]="true">
					<mat-icon fontSet="iconfont" fontIcon="icon-email"></mat-icon>
				</button>
			</ng-container>

			<button mat-icon-button>
				<mat-icon matTooltip="截图" matTooltipPosition="below" fontSet="iconfont" fontIcon="icon-short_cut">
				</mat-icon>
			</button>

			<button mat-icon-button>
				<mat-icon matTooltip="免打扰" fontSet="iconfont" fontIcon="icon-reminder"></mat-icon>
			</button>

			<button mat-icon-button>
				<mat-icon matTooltip="消息记录" fontSet="iconfont" fontIcon="icon-msg_record"></mat-icon>
			</button>

			<button mat-icon-button (click)="showRightDrawerInfo($event)">
				<mat-icon fontSet="iconfont" fontIcon="icon-more_vert"></mat-icon>
			</button>

		</div>
	</div>

	<!-- 个人简要信息部分、消息类型展示, 对应菜单操作 -->
	<div class="main p-2">
		<app-chat-msg *ngFor="let type of types; trackBy:type" direction="left" [type]="type"></app-chat-msg>
		<app-chat-msg *ngFor="let type of types; trackBy:type" direction="right" [type]="type"></app-chat-msg>
		<!-- <app-chat-msg direction="left" [type]="msgTypeEnum"></app-chat-msg> -->
		<!-- <app-chat-msg direction="right" [type]="msgTypeEnum"></app-chat-msg> -->
	</div>
</div>
