@import 'src/scss/variables';

.music-main{
    background: #fff;
    .music-top{
        height: 56px;
        // background: orange;
        box-shadow: 0px 0px 3px 1px #f5f5f5;
    }
    .music-content{
        margin-bottom: 96px;
        background: blue;
    }
    .music-bottom{
        display: none;
        height: 80px;
        bottom: 0;
        z-index: 1;
        box-shadow: 3px 0px 0px 1px #f5f5f5;

        .music-title{
            overflow: hidden;
            font-size: 14px;
            span{font-size: 13px; color: $btnInactiveColor;}
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .cover{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            flex-shrink: 0;
        }

        .mat-icon-button{
            width: 32px; height: 32px;
            line-height: 1;
        }
        .material-icons{
            font-size: 18px;
        }

        button{
            transition: all .3s;
            margin-right: $unit;
            &.active{
                background-color: $btnActiveColor;
                color: #fff;
                opacity: .8;
            }
        }

        
        // 切换
        .control-bar{
            color: #646464;
            margin-right: 0;
            margin-left: auto;
            flex-shrink: 0;
            .statusControl{
                background: #DF306A;
                color: #fff;
            }
            // 模式
            .play-bar{
                color: $btnInactiveColor;
                line-height: 48px;
            }
            .sequence-bar{
                color: $btnInactiveColor;
                line-height: 48px;
            }
            .music-progress{
                font-size: 12px;
                line-height: 48px;
                .startTime, .endTime{
                    width: 32px;
                }
                .inprogress{
                    width: 240px;
                }
            }
            .vol-control{
                margin-left: auto;
                button{
                    margin-right: 0;
                }
            }
        }
    }
}