@import './../concreteMsg';

.detail{
    font-size: 12px;
    h5{
        font-size: 14px;
    }
}
.mat-icon{
    width: auto; height: auto;
    font-size: 45px; line-height: 1;
}

.content{
    line-height: 1.8;
}