@import 'src/scss/variables';

.single-container{
    .closebtn{
        right:  -2 * $unit; top: -3 * $unit;
        color: #C5C5C5;
    }
    .avatar{
        width: 8 * $unit; height: 8 * $unit;
        border-radius: 50%;
        margin: 3 * $unit auto 0;
    }
    .name{
        font-size: 20px;
        font-weight: bold;
        >button{
            position: absolute;
            margin-left: $sm-unit;
            color: #8E8E8E;
            width: 24px; height: 24px;
            .mat-icon{
                vertical-align: top;
            }
        }
    }
    .text-detail{
        text-align: left;
        padding-left: 27px;
        >.mat-icon{
            vertical-align: top;
            color: $primaryColor;
            margin-right: $unit;
            font-size: 20px;
        }
        >span{
            vertical-align: top; line-height: 3 * $unit; 
            color: #8E8E8E;
            font-size: 12px;
        }
        margin-bottom: 2 * $unit;
    }

    .operation{
        button{
            margin-top: 2 * $unit;
            color: white;
            background: $primaryColor;
        }
        margin-bottom: 20px;
    }
}