@import 'src/scss/variables';

.record-container{
    .closebtn{
        right:  -2 * $unit;
        top: -2 * $unit;
        color: #C5C5C5;
    }
    .name{
        font-size: 20px;
        font-weight: bold;
    }
    

}