@import "src/scss/variables";

.avatar{
    &:hover{ cursor: pointer; }
    img{
        // border: 3px solid #fff;
        border-radius: 50%;
        // box-shadow: 0 5px 10px 4px rgba(0,0,0,.04);
    }
    .status{
        width: $unit;
        height: $unit;
        right: 4px;
        bottom: 0;
        border-radius: 50%;
    }

    &.online{
        .status{background: #00FF34;}
        .mat-badge-content{
            background-color: $primaryColor;
        }
    }
    &.offline{
        .status{background: #939393;}
        // .mat-badge-content{
            // background-color: #ffc107;
        // }
    }

    .mat-badge-content{
        top:0; right: 0;
        font-size: 10px;
        width: 2 * $unit;
        height: 2 * $unit;
        line-height: 2 * $unit;
    }
}