<div class="relative w-100 h-100 avatar" [class.online]="online" [class.offline]="!online" [matBadgeHidden]="!_show"
	[matBadge]="_count" matBadgeColor="accent">

	<ng-container *ngIf="isGroup" [ngSwitch]="urlSize">
		<div *ngSwitchCase="2" class="h-100 flex group-2">
			<img class="w-50 h-50" [src]="_urls[0]" (load)="loaded" (error)="error">
			<img class="w-50 h-50" [src]="_urls[1]" (load)="loaded" (error)="error">
		</div>
		<div *ngSwitchCase="3" class="h-100 group-3">
            <img class="block w-50 h-50" [src]="_urls[0]" (load)="loaded" (error)="error">
			<img class="w-50 h-50" [src]="_urls[1]" (load)="loaded" (error)="error">
			<img class="w-50 h-50" [src]="_urls[2]" (load)="loaded" (error)="error">
		</div>
		<div *ngSwitchCase="4" class="h-100">
			<img class="w-50 h-50" [src]="_urls[0]" (load)="loaded" (error)="error">
            <img class="w-50 h-50" [src]="_urls[1]" (load)="loaded" (error)="error">
            <img class="w-50 h-50" [src]="_urls[2]" (load)="loaded" (error)="error">
			<img class="w-50 h-50" [src]="_urls[3]" (load)="loaded" (error)="error">
		</div>
	</ng-container>

	<ng-template [ngIf]="!isGroup">
		<img class="w-100 h-100" [src]="url" (load)="loaded" (error)="error">
	</ng-template>

	<div class="absolute status" *ngIf="showStatus">
		<!-- <i class="absolute material-icons">fiber_manual_record</i> -->
	</div>
</div>
