@import "src/scss/variables";

.avatar{
    font-size: 0;
    &:hover{ cursor: pointer; }
    img{
        // border: 3px solid #fff;
        border-radius: 50%;
        // box-shadow: 0 5px 10px 4px rgba(0,0,0,.04);
    }
    .status{
        width: $unit;
        height: $unit;
        right: 4px;
        bottom: 0;
        border-radius: 50%;
    }

    .mat-badge-content{
        background-color: $primaryColor;
    }

    &.online{
        .status{background: #00FF34;}
        // .mat-badge-content{
        //     background-color: $primaryColor;
        // }
    }
    &.offline{
        .status{background: #939393;}
        // .mat-badge-content{
            // background-color: #ffc107;
        // }
    }

    .group-2{
        align-items: center;
    }
    .group-3{
        img:first-child{
            margin: 0 auto;
        }
    }

    .mat-badge-content{
        top:0; right: 0;
        font-size: 10px;
        width: 2 * $unit;
        height: 2 * $unit;
        line-height: 2 * $unit;
    }
}