@import 'src/scss/variables';
@import 'src/scss/common.mixin';

.login-container {
    .info-card{
        color: #F9FAFF;
        flex-shrink: 0;
        @include unselect;
    }

    .form-card{
        flex-shrink: 0;
        .content{
            width: 404px;
            margin: 0 auto;
            padding-top: 113px;

            @include f-normal;
            .mat-card-title{
                font-size: 45px;
                line-height: 56px;
                margin-bottom: 42px;
                @include f-bold;
                @include unselect;
            }
            label{
                display: block;
                font-size: 18px;
                line-height: 1;
                @include f-bold;
                @include unselect;
            }
            .input {
                border: none;
                border-bottom: 1px solid #D5D5D5;
                padding-bottom: 8px;
                font-size: 18px; 
                letter-spacing: 1px;
                @include f-bold;
                width: 100%;
                outline: none;
                &::-webkit-input-placeholder{
                    @include f-normal;
                }
            }

            .mat-raised-button{
                background: $primaryColor;
                height: 56px;
                margin-top: 40px;
                font-size: 24px;
                line-height: 2;
                letter-spacing: 4px;
                color: #fff;
                overflow: hidden;
                @include f-normal;
                box-shadow: 0px 10px 10px 0px #FFD8D8;
            }

            .footer{
                color: #AEAEAE;
                line-height: 24px;
                @include unselect;
                div{background: #fff;}
                span{
                    color: $primaryColor;
                    margin-left: $sm-unit;
                    border-bottom: 1px solid $primaryColor;
                    &:hover{cursor: pointer;}
                }
                &::before{
                    content: '';
                    position: absolute;
                    z-index: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #707070;
                    top: 12px;
                    left: 0;
                }
            }

        }
    }

    .login-form{
        z-index: 1;
        .remember{
            font-size: 18px;
            font-weight: 500;
            .forget{
                float: right;
                color: #B1B1B1;
                &:hover{
                    border-bottom: 1px solid ;
                    cursor: pointer;
                }
            }
        }
    }

    .register-form{
        right: 0; top: 0;
        z-index: 0;
    }
}