@import 'src/scss/variables';
// @import '~@angular/material/theming';

.login-container {
    // background-color: #fbfbfb;
    .main-content {
        margin: 0 auto;
        .avatar{ 
            font-size: 0;
            img{ 
                width: 10 * $pixelUnit; height: 10 * $pixelUnit; 
                border-radius: 50%; border: $pixelUnit solid; color: #fff; 
                box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, .15);
            }
            overflow: hidden;
        }
        .mat-card-footer{
            text-align: center;
        }
    }

    .info-card{
        color: #fff;
        flex-shrink: 0;
        .content{
            margin: 0 auto;
            position: relative;
            top: 30%;
            .title{
                font-size: 24px;
                font-weight: 700;
            }
            .detail{
                line-height: 1.5;
            }
        }
    }
    .form-card{
        flex-shrink: 0;
        .content{
            position: absolute;
            left: 50%; top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    .login{
        z-index: 1;
        .login-form{
            background: #fff;
        }
        .info-card{
            // background: linear-gradient(
            //     145deg,
            //     rgba(140,167,255,1) 0,
            //     rgba(139,84,249,1) 50%,
            //     rgba(131,33,243,1) 100%
            // );
            background: linear-gradient(
                145deg,
                #c5cae9 0,
                #7986cb 50%,
                #3f51b5 100%
            );
        }
    }

    .register{
        left:60%; top: 0;
        z-index: 0;
        opacity: 0;
        .register-form{
            background: #fff;
        }
        .info-card{
            background: linear-gradient(
                145deg,
                #f8bbd0 0,
                #f06292 50%,
                #e91e63 100%
            );
        }
    }
}