@import "src/scss/variables";
@import "src/scss/common.mixin";

.concats-main{
    background: #fff;
    .sidebar{
        width: 272px; flex-shrink: 0;
        .search{
            height: 108px;
            box-shadow: 0 1px 1px #F1F1F1;
            justify-content: space-between;
            input{
                height: 4 * $unit;
                border: none; outline: none;
                background: #F1F1F1;
                border-radius: $sm-unit;
                font-size: 14px;
                @include f-normal;
            }
            button{
                transition: all .3s;
                &.searchBtn{
                    color: $unableColor;
                    width: 4 * $unit; height: 4*$unit; line-height: inherit;
                    top: 12px; left: 2 * $unit;
                }
                &.addBtn{
                    top:3  * $unit; right: 2 * $unit;
                    background: #fff; color: $btnInactiveColor;
                    box-shadow: 0 0 30px 5px rgba(0,0,0,.04);
                    width: 4 * $unit; height: 4 * $unit; line-height: 4 * $unit;
                    .mat-icon{font-size: 18px;}
                    &:hover{
                        top: 20px;
                    }
                }
            }
            .typeSelect{
                @include unselect();
                justify-content: space-between;
                span{
                    width: 7 * $unit; height: 3 * $unit; line-height: 3 * $unit;
                    font-size: 12px; text-align: center;
                    border-radius: 12px;
                    color: $unableColor;
                    &.active{
                        background: $primaryColor; 
                        color: #fff;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .list{
            height: calc(100% - 108px);
            overflow: hidden;
            .mat-list{
                overflow: auto; padding-top: 0;
                @include pointer;
                background: #F2F2F2;
                .mat-list-avatar{width: 6*$unit; height: 6*$unit;}
                .title{ font-size: 16px; }
                .mat-list-item{
                    height: 9*$unit;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 0; top:0; height: 100%;
                        width: 4px;
                        background: $primaryColor;
                        visibility: hidden;
                    }
                    &:hover{
                        background: #fff;
                    }
                    &.active{
                        background: #fff;
                        &::after{
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    
    .main{
        flex: 1;
    }
}