@import "src/scss/variables";
@import "src/scss/common.mixin";

.concats-main{
    .sidebar{
        background: #fdfdfd;
        box-shadow: 2px 2px 2px #eee;
        overflow: hidden;
        .search{
            height: 16 * $pixelUnit;
            box-shadow: 2px 0 2px #eee;
            justify-content: space-between;
            input{
                background: #f5f5f5;
                color: $btnInactiveColor;
                border: none;
                outline: none;
                height: 5 * $pixelUnit;
                font-size: 14px;
                line-height: 1;
                font-weight: 500;
            }
            button{
                transition: all .3s;
                &.searchBtn{
                    left:2 * $pixelUnit; 
                    top:2 * $pixelUnit;
                    color: $btnInactiveColor;
                }
                &.addBtn{
                    top:4  * $pixelUnit; 
                    right: 2 * $pixelUnit;
                    background: #fff;
                    color: $btnInactiveColor;
                    box-shadow: 0 0 30px 5px rgba(0,0,0,.04);
                    &:hover{
                        top: 28px;
                    }
                }
            }
            .typeSelect{
                @include unselect();
                span{
                    display: inline-block;
                    font-size: 14px; 
                    border-radius: 16px; 
                    font-weight: 500;
                    color: $btnInactiveColor;
                    &.active{
                        background: #f5f5f5; 
                        color: $btnActiveColor;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .list{
            height: calc(100% - 120px);
            overflow: hidden;
            .mat-list{
                overflow: auto;
                &:hover{
                    cursor: pointer;
                }
                .mat-list-avatar{width: 45px; height: 45px;}
                .title{
                    font-size: 14px; color: #212529;
                }
                .sketch{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    padding-top: 3 * $smallPixelUnit;
                    color: $btnInactiveColor;
                }
                .mat-list-item{
                    .mat-divider{
                        border-top-width: 1px;
                        border-top-color: transparent;
                    }
                    &:hover{
                        .mat-divider{border-top-color: $btnActiveColor;}
                    }
                    &.active{
                        .mat-divider{border-top-color: $btnActiveColor;}
                    }
                }
            }
        }
    }
    
    .main{
        // background: red;
    }
}