<div class="concats-main flex h-100">
    <div class="sidebar h-100">
        <div class="search p-2 pt-sm-3 relative flex-column">
            <input type="text" class="w-100 h-100 pl-4 pr-2" placeholder="搜索">
            <button mat-icon-button class="absolute searchBtn">
                <mat-icon>search</mat-icon>
            </button>
            
            <button mat-icon-button class="absolute addBtn" (click)="addConcats($event)">
                <mat-icon>person_add</mat-icon>
            </button>

            <div class="typeSelect text-center flex">
                <span *ngFor="let item of statusArray; let i = index;"
                    [class.active]="statusIndex===i"
                    (click)="searchListWithStatus(i)"
                >{{item}}</span>
            </div>
        </div>
    
        <div class="list">
            <mat-list class="h-100">
                <mat-list-item class="relative"
                    *ngFor="let item of listArray; let i = index;"
                    (click)="selectItem(i, item)" 
                    [class.active]="activeIndex === i">

                    <app-avatar matListAvatar 
                        [showStatus]="true" [online]="i < 2"
                        [isGroup]="item.isGroup" [urls]="item.urls" 
                        [url]="item.url"></app-avatar>
                        
                    <div matLine class="title">
                        <span class="subtitle">有个人</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>

    <div class="main w-70">
        main
    </div>
</div>