.login-container {
    height: 100%;
    background: #00000001;
    .top-bar{
        img{ width: 100%; }
        font-size: 0;
        opacity: .75;
        .toolbar{
            height: 24px;
            position: absolute;
            width: 100%;
            top: 0;
            opacity: .5;
            background: #fff;
        }
    }
    .main-content {
        margin: 0 16px;
        position: relative;
        top: -32px;
        .avatar{ 
            font-size: 0; text-align: center;
            img{ width: 72px; height: 72px; border-radius: 50%; border: 8px solid; color: #fff; }
            overflow: hidden;
            margin: -64px auto 0;
        }
        .content {
            background: #fff;
            padding: 32px 24px;
            border-radius: 5px;
            border: 1px solid #eee;
            box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .2);
        }
        .mat-form-field{ width: 100%; }
        
        button{width: 100%; margin-top: 32px;}
    }
}