$main : #333333;
$second: #db3d7a;

.login-container {
    background: $main;
    padding: 20px; 

    height: 100%;

    color: #fff;
    .title-bar{
        display: inline-block;
        span{ 
            float: left; padding: 1px 6px; 
            background: #5D5C5C;
            color: #3D3D3D;
        }
        .active{ background: $second; color: #fff; }
        overflow: hidden;
        border-radius: 5px;
    }

    .main-content {
        width: 90%; margin: 0 auto;
        p{ font-size: 16px; text-align: center; }
        // .cell { margin-bottom: 20px; }
        // label{ color: #fff; display: block; font-size: 14px; }
        // input{ 
        //     font-size: 14px;
        //     border: none; outline: none; 
        //     width: 100%;
        //     background: transparent;
        //     padding: 2px 0 2px 0;
        //     color: $second; // 
        //     caret-color: #787878;    // 光标
        //     border-bottom: 1px solid #787878;

        //     &[type=checkbox]{
        //         width: initial;
        //         + label {
        //             display: inline;
        //             color: #787878;
        //             margin-left: 7px;
        //             &:hover{ cursor: pointer; }
        //         }
        //     }
        // }

        .animate {
            animation: ripple 0.65s linear;
        }
        
        @keyframes ripple {
            100% {opacity: 0; transform: scale(2.5);}
        }
        
        // .button {
        //     width: 100%; color: #fff;
        //     background: $second;
        //     text-align: center;
        //     line-height: 35px;
        //     border-radius: 4px;
        //     border: none;
        //     outline: none;
        //     overflow: hidden;
        //     &:hover{
        //         opacity: 0.87;
        //         cursor: pointer;
        //     }
        // }
        button{width: 100%;}
    }
}