.login-container {
    height: 100%;
    .top-bar{
        img{ width: 100%; }
        font-size: 0;
        opacity: .55;
    }
    .main-content {
        margin: 0 24px;
        position: relative;
        top: -32px;
        .avatar{ 
            font-size: 0; text-align: center;
            img{ width: 96px; height: 96px; border-radius: 50%; border: 8px solid; color: #fff; }
            overflow: hidden;
            margin: -64px auto 32px;
        }
        .example-full-width{ width: 100%; }
        .mat-card-footer{
            text-align: center;
        }
    }

    .register-form{
        position: absolute;
        top: 0; height: 100%; width: 100%;
        background: burlywood;
        display: none;
        &.showin{
            display: block;
            animation: showin 1s;
        }
    }
    @keyframes showin {
        0% {
            right: calc(100% - 56px);
        }
        100%{
            right: 0;
        }
    }
}