.login-container {
    height: 100%;
    .top-bar{
        img{ width: 100%; }
        font-size: 0;
        height: 360px; 
        margin-top: -80px;
        overflow: hidden;
        // opacity: .85;
    }
    .main-content {
        margin: 0 360px;
        position: relative;
        // position: absolute;
        top: -72px;
        // .content{ background: rgba(255, 255, 255, .85); }
        .avatar{ 
            font-size: 0; text-align: center;
            img{ 
                width: 80px; height: 80px; 
                border-radius: 50%; border: 8px solid; color: #fff; 
                box-shadow: 3px 0px 10px 0 rgba(0, 0, 0, .15);
            }
            padding-bottom: 8px;
            overflow: hidden;
            margin: -56px auto 8px;
        }
        .example-full-width{ width: 100%; }
        .loginbtn{ outline: 0; }
        .mat-card-footer{
            text-align: center;
        }
    }

    .register-form{
        position: absolute;
        top: 0; height: 100%; width: 100%;
        background: burlywood;
        display: none;
        &.showin{
            display: block;
            animation: showin 1s;
        }
    }
}