@import "mdui";

$color-grey: #9E9E9E !default;
$color-grey-50: #FAFAFA!default;
$color-grey-100: #F5F5F5!default;
$color-grey-200: #EEEEEE!default;
$color-grey-300: #E0E0E0!default;
$color-grey-400: #BDBDBD!default;
$color-grey-500: #9E9E9E!default;
$color-grey-600: #757575!default;
$color-grey-700: #616161!default;
$color-grey-800: #424242!default;
$color-grey-900: #212121!default;


$color-blue: #2196F3!default;
$color-blue-50: #E3F2FD!default;
$color-blue-100: #BBDEFB!default;
$color-blue-200: #90CAF9!default;
$color-blue-300: #64B5F6!default;
$color-blue-400: #42A5F5!default;
$color-blue-500: #2196F3!default;
$color-blue-600: #1E88E5!default;
$color-blue-700: #1976D2!default;
$color-blue-800: #1565C0!default;
$color-blue-900: #0D47A1!default;

$color-blue-accent: #448AFF!default;
$color-blue-a100: #82B1FF!default;
$color-blue-a200: #448AFF!default;
$color-blue-a400: #2979FF!default;
$color-blue-a700: #2962FF!default;




