/* 滚动条样式 */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
/* 背景 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
  //border-radius: 10px;
  //margin: 2px 0;
}
/* bar */
::-webkit-scrollbar-thumb {
  //border-radius: 10px;
  //background: #ddd;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}

html{ height: 100%; }
body{ height: 100%; }