@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1547887520475'); /* IE9 */
  src: url('iconfont.eot?t=1547887520475#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAABRIAAsAAAAAJUgAABP6AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCHDAq3CKttATYCJANwCzoABCAFhG0HgkQbqx4zo6ZclZvs/3LADZnoh1S9gTLqlaxaWChL9qmkkqEViRCLOQKzVwA4s/0yhfGHaX5boIwLjX3bh+4W3eV8P5QSAporZyG5TbI5pBKQA9RlRewIwFYBoK27ygfSLQ/RnDVrkd0kS1BJ4CCpE6z23RCHiKKSYqlgujV9qNlRMcVrIjScGQHQ5ucD/xMgwHworyrVOFQNDsFSCFZA8k2+hcZA3RmBu4EPf81jjF6lRgHPdvpPbDTDegGyQNiEMfQVMbBqsyI9kZRhORw74m+Ae5pz0vTAJ8epvv+nU1e7qCKMGOJhy7D1dVvuLBnOOif+4Ssr7LBclAsMbydedWG5FK6yyVsBR8Rp7DJ3X6o6t4IknlsZDSIYfdjP/XtoLeciokQkL2qO11+vZwjAp6o3MVmptQKDxvQKLLe8eGIuMJlcNGOcwGS5lLtqxFEwjNwnrwJHgm8vmhmYAYmjMDsyc5miAIyvo2nLtv7XM9QuQhLHgO3dQAG9gQY5nFoiBqIi0juQfdrfroUL9NeeJj51VlRKTklVe931Mstiq11xw22P/Gh0B6s1fmja8v9wZ1aZwzW3tp55oqC/ldnA2Yca/vRA4RIXwSMlLcOiiRGSECBwyCsoKvGRJEXJyjGggX86LGsBxFzUlFCHkwgFdTYRLtRFExFHXSoREajLJcKDupIXFq0ASINWAWRA2wOwoN0BaNBeAGKgswCEoIsBJEBXAwhArwAQoNcAOKDXAeRBbwAogN4CUAS9DbGt9BEAH/QHEiGhfjSQDOhBAFHQGhKRReMHRs6ElCBO/HlQJncZDjaAeQ3BXcyRN2X5WVa7aNTkJJEt0ziOXwIiIDGYg7d10DDR65gYHoZuOmmtF2FyxXw+HY/bRMK6wjM4SyMGhdbOi85k7qu8tDH90lwh3bunppe0jZsskQw9oq2ieFR1EzEV5srVRNR67Sv9kp2N5xlrC/F0OiNSkoD8meWTqS294vfaA53uibttAVgFnVgMgDzvyD+hXPfwv0GDmphbcEq6y+KxJH9r8R1aEIkKX2FpN2TaR2YUm/y7cKrFDApTwFYLbmKdIBRyfenVedHdP3ibYhbqRSjVKjGKIZfiXU22zwBKKNK6KC3S/BnvWJqqc5X6eegKt8SEKb2Y90cmfPqAF4Zvez/V/2vuV3E+IT4heGT08abdYbSbrXrbZd+aB9mT7PJhSdhbjAnEVXwDRqIRnrAiLNHY12TtIhkWtE7jom2LkVKELMmumAnCsfJrOne2cYlKRWgWA2CUoPJ+avbQ9NveimIeYCK4rg4ZY0IkX/PbHY1BaCoO3Gaiwzf0NS3pyCGXUrpvMezpM6k8pMqhDeePLE63h+bfahNe43XDPO9ju2fCBZ2C5diGLrU6poiRIlZJiQ5FrR4UosffR1+/BJ4/ewjjJVaRXmgWa9Fgg9x/MCJEsqSNFT4wvDOeVOhAdpb7SYLFxQPeyreGXColamh6O0QDvJWCBRl3l0rShgqX7c31d8oyElVq8vyoDPu1x0DopdSgzeX0nGlfy5WWtTULBXtxX0qiSs1CTqTQAKtEsnrNnfYTEwYcmNGUm3Q1g4PRuBPchvgm1ixILnzcw6UHukdXxOAbritCd/u1IN8/2sf5OY5aOzkrc2pzw++5Wb8uQ5MClrUiCc1aHjexUSaRjoV54zylktbfqqbFwJJKDmElZBEuQ4TM7Qlk2xLT4huCeXN0Xm6bRAgvY5Eml5iLGisFrKJ4z057KUkIGhVpuVFTIqm4AJo7mqtnwIizrACCZL0ok6Iqt/TOK8xG1ljZJa2+G4Szf29NtQg3L6ybmh3ImPxiRqaHtKBNt0qkYKx4SYqiRupjSKnBECL2TGAwTg10o2ZSUaQYS0wQiI55Hl9NMZOGjQQxHd8ekryOmTBz6qEnFcQ+Zj7HXUfmZNKBqqGSwDmXLy5s+4t8f4Umj/nJY05YDWuDZ6xr/JN+txyaEoH0Zj4Te8AxETqjMaqpFHNwMM8RIZXTyV8GxtNBaXMxC2GHS1rXRpsGKm7NvaXnKd944TQ9KswrXvFL9cLio4LrUhxzu/UB/HbSVGt2ySWdCmElDyvhIAiNuNO21bIzkTEZZKEV/lzN3VEKh744VxDpkcUWu+15fw5W+EftpVey1rKSpXdZoijKy5HCRTJOxuJNRIzwLRwRLkcLl9Rvqh1dhjOmZ7paw8RKlj2DbFBp3E4ISqaYu6/UOVT7MaDzqlf2S832q7I9bJRM5C40cdCFvKoB+ZrVUmGUN8N5IuiJmYwZca3fnERUjxTAW9nyr4m26fOWPQwv0zSXFZqreHneK0tQiM7LeBEZJgW5wGydFdDbkLVUYxJXEdXkfZOC4DDontTx5zRPati3lu5SCTn44swgdsWuzVcfQU7cj+LlfCoKwvvFLRMhrpkt3G7YRd3CVwPaw+prpniHGlInhAoBzOM7SvDe8z6mMl7oAsbSdIstnLAkhUdJtdo4nRg8q9+iJrtnhLN7lmr+Uk9Y37j7CKYbNH6RC0qnhfSyxUqiDnU67hKsj2IGgDEU2G0qfuaqJdA0JDSW/pzD12DSQMjumcksIcO5Oh/gTiPWMk8vzRVY4f2wOchZg7+ygVqdL3W0+uqZ4Nm5XCRaG54FuYAxRAROz+ALbwsDJrVEe2nKehuvLZDWRRqi1czHrAhPKUCw3rks0cXlqKYEZWy+p7jIBDiJlbSXSZgDy8EzFAltSPpGCWf92sKBnysJ5Thf9MKIfqtljkYU4OchKP9Qbf/KX79lsvJdy/7UFubgynRqNNk4zeF0hQgCSXyNglg8LsZ2LVwM5BlN0BJBEXTNjXTtciCkVPKBv6I0+WNxCsRijk2+YqIgPiISY6IHvDWjzyW7/r1uL88T536rUgjrLmdSfMbG7jHEhN3h4CvN36z34t5MLsK8XDANR6NCUzphrZSYlG+osUscxqIqUlYPQW+mdvUNwTzsVq/WUkgQ1fWcXZNL7PlcO9gNbs4b7e0CUrw/049LGWqVif5sAbWR/i0o6BJXll+8f/2/WZZNoctkqj3999mSLkkV+B81uuANd7DwP3yzrLNzrhfwmmvMfo+DefbeEgwusO0+wO4+rU5HC83j+/N53g6dKX5QR7sEpzs6aFzSTm0JCJSWMUK4STpGumMC5MILpk0vwwCmnJ8ypg5Gg8GWR2hwMGqeRw1jvYSN6EZM0m1JK+eqOlRwQB5L2jlxbgXzwgs4CZZeiF3BtpYuDIfj4ZQLHVHH2pmv2/IT+KUb0JywGrgabgqFN1/EdlbLcqI2IRuRwuj4mlVAiASl9A1/e8dxs4b3Pay56Xh3N9ef/5t6+g+s3cyZ/CcILPrZ8PJmPFVOCsgPzis8iWl5dcuA+aQ1ic2qcdZXChDNtarG6rac1W5WjZMHrL1ZoBwrMo/IfsBOKri10N+aJUrKj0jKkvsvfGU9PKKgcmQhiK2g+2VlIkZePyuvWjTjey5LVB3Xv5stE8FuDmE68tM/C2pvd/ccmemCwbcl5gLVteq0OBux2tq0WjbeEPw441nl8Omclp42soJGcmZsI1DRV9XPmSiqsItMBlFhuaGClqfiU2Q0iG/ETn17tX+N9eVannXfGgu5lgS2OIg2ioa0WEMLgh9KsKu9rg51jrvtERWDxDN0rB5NmVytL4g34iWdwFUVppVPf+pfe2olDfeeRM6/Q5aBJLEuRg1/6q90D5EBLTxj794ZcC+R8uEZKSt76j2EfABmvlUKYLM5iX/GrdBgYKuHSGep9DvDE1xhnS7J7RrfnpZmz1b43Uqwky4cpgHCreEWiHNjgr89AWMHRj9OHHd7wcLDBJxV05QKd+IDcSnImg7JA40SCuICmF8Hr9kCN3CBL+COCC76GisZyNtEVSggR1urAy6D29qyaaCZhBjKoej8SlGjjKsDKCTN+fmNEiVKucigOkle3ikrqe1MimisylN8vW+BJ0+CLOGfPDn9ZqiJid4kMwz++zU1IcHLuwtTaIHF/H+L+9i+isBXtx9YjROrxL8eZM5huvb/0hTm7Qnaioo3Ro/Po056qBJHmnTRdV1Rh8wQRQP3T3/6KNEhB/Yy5zLYbN3dsMV+xjNA1h1d3hU2Lg9LDBNuo/J0MZM3Fh8BO4zeY9znw0P2B6yKZ8B7Xjq3lGfNnbXzdJaGPrktb9vMY3whnHJZsFQWRL2fHAAo3y3F25afpCGNoXZW2vxpPa7D7q0HMSD4zoH7EfWEdw4X/+QF1S3qfOj3zev+SARzewjXu8HknfR93jf5sP82/A88qHbPj0uparwGW9qqYUiwGnwiJgngcH9ER8mFQrabZPVqoQCXlTAc/s5O6N1J0o5/T/eDz2L21Ps63m6YH/sJyq9qy/AKwCWxEr+ATK9tJSj/i9U65N6QtNAyaEMnZuzWjrkqHWZYFH36qmFc+h60wIbZjItADLVFyVKsOwX+Gu/Xxth/5ebu85O2evZNZ+ERgdNrFSwlFus2Ju1McQU4jg78Ah/Hjv7UdgStAKeLx6S5xVpeLZocOQPTjslhxDFyxmixGZGXQQgLvCcGbDYSUDbrwDDSt0JUkNVG8UcqFCjShVFSAUHNTZmiKY09Xt4QfuxlpMcp0S6U23fvS/ZpuzJAE7iJSA0djgBloGYTENDCa5FiCxwU2KHJze4pwWtHjEj0l/vF2wulfnL/FURSF9r9pP7yFWS0tNDKeD+BcH5AI083RmOLwqsJucZ6IDRhnke6n3zmUawGG2UTymWCpJGMGmJrAKVUV6fCsBDslmpAaXxghXeNOVY7c6pDt9ml5UGoMfXOsfh5AW4tYTdsL8d0Z5T0ddcP1uTBL1cmH9okaqymUoFFXfeRaJgue1YSIeMVfyIapskhr4QX47atLBln/Okb9ihfY4rNCAd3A18w0P2ZiRT8izkFotjhKvUQM2xxIz3uDE4YzHbfTXq+eR68S2TZJf7xoodbZHikm0fQrgk7O4uJMZu9No8hVmwOsXxXbtmxmz03jyU80SiI7gm9OZd7glfz8oSh4s69eTzyRHcAcmKTPTIyOSqCXXnh/xeDLl1YXMXmCjiBXD5XInwOBQkGOxb1P5V/JyNc/9aSestuoj/I+y5iT5dRRlqcD8+YAeeLieoB+XBGJ+LNbRNUWgqZxAWVE02QmFzRupNmn2Y7RRWiJD9kSQtlm8lop2Un64pHc9K3ijtmec/K2zCe54j8tkpYbEa8uGO25+zUy9MJmlghZd1VIt0d7FrmsU67qvyagnE5Q4aCYDCU+JfLS6WOOts7j/oKfPnh/KZdL3/sK7wcQmZAhX8NWM3eyaCVz36ddnjpfMsXssZjQYikb8CqWMrI8KhQ9drdVR74v5zxHg7PBD9WpJ/b68EQA67vcpISjr3T5hLitHXO5UjIwmtXQQj/alchlwwmiTh1xAi+TMZ3BBcXAYLaH3WZ+i9hUDOY8J9wVBbU2AilJ7NNzYIzYYRUZAgJ6YtL9ApUUgL5pCTpBK0OWifn7uLKB2xhJXNvVXoyxeowGb1ZvGeiyp3pFuxgOEkmIe2gQLXPNJ2aQTpZC1jM2akzrTM6Vc4QF1Xn46EPHgs4V89nMHRquvWB8GGaV98TwyCdcijkJJeqlArhHbDbBZsEy4kzZLP98SuzkWjgZIuvnCFO5z+8Bt4/zscBLmDGWE4DoZBIVe0BO4Fvcie5WymEAgmI2Jm5z/WNiQoEI7pu1CTdluQ6/ZU4krKD6NcWFJ6DDcOdmC7t6507u9XCUHDkugSOFE8FdSUE+eDN9Mp2uU+SjT8fZ4UdvXaEI0UKjPy+OVGMJYfcLdmJbhmeO5go3eTtlqICqW5670VvLoDiEUGWXENQupYXPKrcEe5vK//WAdrwLMb7e0j5u/DdSSe5n1BTSg4q7D5K4IJpW7vn7GBBkthQbnOHc6lxaRye2qU6tCsqSb4xmJGEXmUxV+oeiQEofjib2OTbf8rW1qNVDD1haZ3dOweP8pG3zuqdfoH0QUEqfuMMRxkpFKOC8sjeGQIBc0R6Dh+hZChH2mpK8144FSUN7plAk+VujXiANHm56tMQJfDqeOMEYJCOdmRa0OBxpxINepyvKIbMAiXIDfg1eN8UAGDwv0FFG9P7FyOu019cU8HT7+5ChpDbr5LhmP5uPgJPPxsxiJTsgJyKcQ9Vyjw6UVkIAwE5LGL3dJB+8jQHCs7q67PJcb+yiP8FlT8sRtvJ+urOqzPIe0RcxB84oBXD9sd9cZmkfN01znHi///sBsnWILuhaKL0mWWv8AIS8K394OfNoqTvKvoy3NKvLV8miZJEqEQpDJ3tenDvKIeAwVEuhnFRPr1Mu3dAyloUQntAT7uMKEHcnShJlOdE0QZ/JRqDa1EOWa0eF6NSUT7zRaqDAV0Xyo7WBJIhE/uzsAorzQIehct/gfGFJOJat/YH5CxWIgnjW90rVEAiDNzJpMxaaMJS7Ix2oChQ1IRHUBweUFsvo0jvDUOFZWPUkBFI9uJmwv6c0Sqs9Ml5VPj6X2B8IYmx0XPGPyBnr11IhGIO+6tccW1UFa07mRQTpoWzJmEp7AiDwqpGoaY3dQTFocMLgXopIjvTvHIo31eOEZnBt0nzFSrXElJRNd0wLdtxPb+LLrvquptuu+u+hx576rkXXSilLdrKc1/bokgteAQlHq3rv471Tlj4Erq2lAZ6DiSpQ0fqKuuX4FyxX0PvgAyhrwcOmG1lkp7GIgMa7rsQAjqH9Ao06HlYmSZgcNwrveCmkkFdyHNhHXepbPIhK9IGK8+M1fjj4k4mEZxyJltFc4Nd9cpgLQs1mpY0fIN/ZpIq71bg7bzonT5TYtG70pxGAwA=') format('woff2'),
  url('iconfont.woff?t=1547887520475') format('woff'),
  url('iconfont.ttf?t=1547887520475') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1547887520475#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  /*font-size: 16px;*/
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.im-email:before {
  content: "\e69f";
}

.im-cut:before {
  content: "\e6f8";
}

.im-fill222:before {
  content: "\e600";
}

.im-emojisicon:before {
  content: "\e628";
}

.im-volume:before {
  content: "\e6a1";
}

.im-image:before {
  content: "\e60c";
}

.im-search:before {
  content: "\e613";
}

.im-send:before {
  content: "\ea79";
}

.im-message:before {
  content: "\e617";
}

.im-usergroup:before {
  content: "\e6ba";
}

.im-setting1:before {
  content: "\e670";
}

.im-folder:before {
  content: "\e620";
}

.im-bell-ring:before {
  content: "\e651";
}

.im-logout:before {
  content: "\e78c";
}

.im-icon-test:before {
  content: "\e62b";
}

.im-music1:before {
  content: "\e60e";
}

.im-playlist:before {
  content: "\e663";
}

.im-icon-:before {
  content: "\e73c";
}

.im-Pause-Button:before {
  content: "\e61b";
}

.im-Play-Button:before {
  content: "\e61d";
}

.im-Prev-Button:before {
  content: "\e61e";
}

.im-Email-Folder:before {
  content: "\e7dd";
}

.im-Calendar:before {
  content: "\e9c8";
}

.im-Nexttrack:before {
  content: "\e6a2";
}

.im-Pause:before {
  content: "\e6a3";
}

.im-Play:before {
  content: "\e6a5";
}

.im-Previoustrack:before {
  content: "\e6a6";
}

