@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1547774414915'); /* IE9 */
  src: url('iconfont.eot?t=1547774414915#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAA1wAAsAAAAAFqwAAA0hAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFDgqdRJdUATYCJAM8CyAABCAFhG0HgTUb0RJRlHFWAdnPwaZsl0qeJOkkv6TPF5hrJk0Yl+7u52lO3z+J3EUhQosF0WBWT1BNUtHIJQ1LCEsCjOrROszYkJpSEYG6ADOlU6aS+ek+yV2V3DmEqq/dutnbLdL70+nUdmonDytZkciJet2A8EB/qO+PbIoGg9FsGxMknk2jS6RY1FYgV6BNBWkM/N9aagEVgcQJoTd/jud2Nm9/eC5AuCFsq1qHRtXVLZSC5PZcZAFtq+pYq0pTC9sss4G055jI7zgbIACUEAnQrLBcBzwExYsw5Wy3GYEXqkTkxCC8ck7KnhnQC5B4cS12HwDesL89+oW0wAPAkAmUo1SfCiyg+YBvWnHWx5qVVoLqaE8AgNADwAEkACCEfEtVHgMk9B2Ho9SEXQAQQkIjRB8wIhgx/17KkdgR9UjNSOPI1pHzI3++ePXFh9+0+nwAeetVHhcJUXcHwJGEuAgCFP4ajcbQRDjSP14RuCQw5bOhAREYAR0B/+YCIJDgIiAIwZVA4ILHAoEAV8MLdXgNECjwRiDwwbcCAYGfBwIP/E/kAwy8eBWBtvmHECByJh3gsGvB4ueHAMgCxCsAZ8lCdQyjGBJHIFwTcCQChgPhN6U5QiFH5icQ8NXcSolEwEH8bZjYdKFAoM/ky3i8ZFnOexAb61+pDAqRigR8VXCrWnL6cggZK135qUvHQSwS5aAdtrCBGDAFjTiVjIN5QtmhNuajqPW8Se5KM/wMJp4Cq2tRbZMMPdlb26GohAIkFKCM1Fi4NCGLm/PSmd/xWMDG4wlX2DFFJyEE9GaOXj7iBHvS7XN1rmp/8fpibQyCu9dzKyCaUYLrWrUvtHP95zJib5sdMZQvppov9foLh34BPDpccO5YP91l2/FOy/DwVPtcZ4d0ZtCWsGNrby8Wg/pyGPWKLEUi7+hKueGZaFTr9hijrC9LxV5rW8XRWwadqiaHvkfVj30Na+2VSlT6kYND9MKn2KOHNqqYSibicTYZuaH0+l1d3VgoE+XVI8OozVbaIQPUWqf117t3q8K7YQ3janWN0SfoQ2bHe22ohyMu9xdrm4REXwvMIE13lBMCIW3nhbIdofs6+MlOpjRdq7izY4DtP/RstnUreSmiZS9fP0dbHWwvQAEwMZnqeXRS+27po2FUguaYGe3bki/lPzRvnoPMhpVUuoOQQRkKd+S+q6y0I9lB+qnj5lD40HDRx8Gw/ueG5cdBPU8y156F9j6dDpl0enuvjFLty4gLw14i+s8OPpTJHhKt8ahz552ETH28TsRNBJALec+4EXrPGFHdOBBdiN1XDVwiohv5XCH7LrDI9aOYG+ji/YSxGLEbR1IhD9OlKRLyXbD92ubxIzDVsd71UN+q54t9C+bgXhSoPW7Hz0PGDuVY/1HY89f2iU6+ywhg6CqgA2LHENEJvbcHBxvuCrp0x18IGeKyP8W63XB3KM22TT0xXFZ26O/UbBdd8WrlrZLthBxnquqJDD1dAAQcAYFrASumhW0PjkKAoXmA26atjDo79/nIjs0PB213wXj8ULwen9of/89g23U7j6y+PWE6pn6YlG2GHkU0duA+m4rthv7oKGwEMBis2Un0dbXf1X0QtOaGQyNjkj2wXSv2K8RIETCVtiF+nby54aKxmEpvsjpwsUPtnsiQn+495/O+vBgiaH5s7VqHW7K9F1Yzlu/H8k2Hewanrj1Sq61HRFooN46N4KBHMaA5+Dx/+fALerH+euqRGy7USEpqkx2fCXfwJI7TWYa+q2PJrddipg7rd18aA2zbrCtd/+wC3a6DAQR7KEq/+9SS9SrJtgMxW87QzafjFMYexSZsE021tynpU0+CoWsW1Xdyn77nWmBvh3zT85nniV5K1nE5+bSzRlforq72HdjuzLC6t6OblR18PvX08UBU1Qfr1ndGb5FFqLeX7pYDu0m2d+Lj6DVWOACP11phP2iro/JRSsspLqphvzF7i6vZ3+mYJn3PcXvo4f8r63ZEdllX2jbzj1XpV9KbYPJonOVzoW+MT/i5dWBgjRKUz0xYBwWoFwxaEGoJOHCP4MDXfOhfyoqkQVKRedtAQD+0f1s6xfb3s1T6No1gYLcuHR+BDUmjmu2fgiQiFVvjCxLI0SmaakODZMG39F1CpSKY512ZYpkvkq/iCruqOriT90eGH83PplecvdzDvTWAGTDtrewePnverRwsF5t2qz/j9Lbcm+o+S93ZiVZHtWDN2OJIbOdtcl9z3ryMHfh2nMnMbVkH2U/saJ4jjmMa5Zma45b/YOTFNeeMBiF6NczfGTET//nfjleeXr12coWExJ5ipAS1vllRTvH1bJ2d5eV8qhf0A8RqdeqlOlUNqvd08r76fgLd91Se4WG6wrHxm3HkF1dacqup+gHwW0aV5y/7IOiV870sdr0Lv3kT7wJDqyKrGPs6pVAWlgflcfmhQ8ux6xpY4DlfVsZXyiOkACu+KAzHamsN0ov+TFUVv1itXVlUuS+m1A+rqDD4P5BaZ8ywGi+QXi2EfSyTWAKtWyO0xBuzVN+/DxP+xr1XNvFpx6snaGxOy+Lp2ACMCUIN0s1E+SqY7RokBFz9CduwC1sohLGEQ9X877LTfzLt0HgKkLPzTSfmwDo7DXMoueJVbpRp9sYtyit1BAXtJWbzovRCQiPJQ63pJlNYKkx9xTR2UZOp4LuhOszVgOpUxeUy2muRy+VrNdRi8P/fL5eWKgP0iEY2gsf97+d8tW0dTa3fdnQ9Ra+L/+0YdzXXb/TXxVEBCuicb9+eOcmkOScvKkupqchsvZJxvBZpWJB9/zWmkFAfPcRdw+HzK55HvR5YfRHy3jLdV6ImmsiyqIg+jakiy7XdfhL2VgeMl7Vj6iPB63I52MFPftzlnrNm5b4Lc0rYc32mvhWnpRHYtLvhb+eFakZcwaBp7LL3dZ9jUUnVKytntLdd80sc3AzfxPNfHqoQHcCk2V8jc1PnLGUwlZ6dHhg8W/k1A5m/1enUg2puYZ1PT9hmHSgff1+bWPVa5oX7VRNnHiQselJf/RpkjXYV8go2nYe/NYGdWva/jcbDgdo3PYcdZ+wNga2NBbxCMtt//IyLdg+cIX76FTtDnvp59CThgQv28TP8s+s+fc2VtpwsHz+Pk8OZN76cXJ72miuMByP0T3q9GDRr3U8brK1DmlCdXiNNKSggcD0iVRuBE1drbCx5KfuMe2HM6U/S5Ofj9hPCG6e/nXvBWhhcErJDA2uk0xlcGFKyAwB0Ol17SkBISMiRXEtk01Qbk5PLgvIDc62MNjA/qIcDH81YA7VB+T0UqWWszA0Mj2gPXiSqGF+iz6Ca6fwS3dHI0rXymYH5K06RLWSqPiI/L9yQwmmhAyPQtObm6RgshAPaEnhpEuIJaKnNLl/xsrNip2TpcGT19Genc9cG+y+NeqT/ZPzVWfU3rvKr1cil7sKpx3fELWrWTIe6VetX9MJleR/Wx+aJ7F97X1RbPlKWfjyxr7d+YvXP35PvBrTUZM+KgYkbdQKoJNT+E4qma079qPrx1NjwsdIY6eL9n2y9wdwNE89CzN8/6WoDpsKbUv5nMqeyYqz7Vd4kMhRPv/GTruBtziy5p+i6VVYkp/4TTJI7FaWBef7+SPCQVldRlVd+FKcLrAN6SdiP+oE1gnQx8+A+hNXvX2GEYpWYzimOTZbm5Un1CIkkAqFXp97V/F/qK/GV/h+ROgctWoQMz2w5eQ42GwMUE4eJUaW9vrIV1dcji9X7x2CLQzflC/cL83/SR9WveeJVcNvV4HKuK6hruUUyrqK/l/OjmEtr+zWg+AeW3cembXibL8dCgsRXgg+/4Wm9//tw1k4dfR33S32+H1enPh3Ak1K/bMex1EspC9cOspnA2x6zz4IDkq//myue+BuP/tfb9Y6t9CEt76eNB6M0IPBQxYznBPzr/nHxKnH+WkVvCD6f77LXIp7angRiV4H/mBAAlNoM4KNmPx/1J8tLO57jstwnGK5gguOJDCRCEwiJlkE4eKYQilrR/jR/bjiU+QAQbyUjiMQRghHpJziJBwBA6IeEpPA94ZAEnFAMwf+ItOhgp/LcjNHLWFSmVpXd7GqwajVeyplay9iaHEZ30GWnGBi3x96lSk1KiQ4VMQ2Mu41tPM22NK/XqrK6XU5VITsf43C4VI1uVz1j9ibN93obxycnW9O2TTK7nEDJ48Yw8po5LVRMWsvambk0sD7ci4p9/VoMmyYORu6cVb/LGjDcPOxPrpIqSUqJwCKpodSqY1F7NLNJ4yVhpdIXurk4qRSSYDjUfheVxnSzegwzryTza/Q2Gi+Z7mQtKyX1LzuPuwSHb03FcnHAEI4IRCIO4iIe4iMK0UiAhEiExEgC5NFptDtwc5OXa7U7HGlsLMU4XfV2zy5tS9qdRhtDeJgGC9fJeDyB4/GbPIzb5nY1NfI8jNdrb7Cl8k17golubxbH4bK5mrz8eqpEL+PxcpxNjfhSBQUdzE4sdDksjBsAAAA=') format('woff2'),
  url('iconfont.woff?t=1547774414915') format('woff'),
  url('iconfont.ttf?t=1547774414915') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1547774414915#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  /*font-size: 16px;*/
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.im-email:before {
  content: "\e69f";
}

.im-cut:before {
  content: "\e6f8";
}

.im-fill222:before {
  content: "\e600";
}

.im-emojisicon:before {
  content: "\e628";
}

.im-image:before {
  content: "\e60c";
}

.im-send:before {
  content: "\ea79";
}

.im-message:before {
  content: "\e617";
}

.im-usergroup:before {
  content: "\e6ba";
}

.im-setting1:before {
  content: "\e670";
}

.im-bell-ring:before {
  content: "\e651";
}

.im-logout:before {
  content: "\e78c";
}

.im-icon-test:before {
  content: "\e62b";
}

.im-music1:before {
  content: "\e60e";
}

.im-Email-Folder:before {
  content: "\e7dd";
}

