@font-face {
    font-family: 'Shs_Bold';
    src: url('assets/font/SourceHanSansCN-Bold.otf') format('otf');
}

@font-face {
    font-family: 'Shs_Regular';
    src: url('assets/font/SourceHanSansCN-Regular.otf') format('otf');
}