@import 'src/scss/variables';
@import 'src/scss/common.mixin';

.content{
    @include f-normal;
    position: relative;

    word-break: break-all;
    line-height: 1.6;
    font-size: 14px;
    display: inline-block;
    text-align: left;

    border-radius: $smallPixelUnit;

    &::after{
        content: '';
        width: 0; height: 0;
        position: absolute;
    }

    &.left{
        color: #4D4F5C;
        background:#EDF0F5;
        &::after{
            border-top: 0px solid transparent;
            border-right: 6px solid #EDF0F5;
            border-bottom: 9px solid transparent;
            border-left: 8px solid transparent;
    
            position: absolute;
            left: -11px;
            top: 0px;
        }
    }
    &.right{
        background: $primaryColor;
        color: #fff;
        &::after{
            border-top: 0px solid transparent;
            border-left: 6px solid $primaryColor;
            border-bottom: 9px solid transparent;
            border-right: 8px solid transparent;
    
            position: absolute;
            right: -11px;
            top: 0px;
        }
    }
    
}

.title{
    @include f-normal;
    color: #C5C5C5;
    font-size: 12px;
    font-weight: 400;
    // &.right{text-align: right;}
}
