@import 'src/scss/variables';
@import 'src/scss/common.mixin';

.content{
    @include f-normal;
    word-break: break-all;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 400;
    color: #4D4F5C;

    background:rgba(237,240,245,1);
    display: inline-block;

    border-bottom-left-radius: $smallPixelUnit;
    border-bottom-right-radius: $smallPixelUnit;
    &.left{
        border-top-right-radius: $smallPixelUnit;
    }
    &.right{
        border-top-left-radius: $smallPixelUnit;
    }
}
.title{
    @include f-normal;
    color: #C5C5C5;
    font-size: 12px;
    font-weight: 400;
    &.right{text-align: right;}
}
