@import 'src/scss/variables';

.content{
    background: #f5f5f5;
    // color: $btnInactiveColor;
    word-break: break-all;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    border-bottom-left-radius: $smallPixelUnit;
    border-bottom-right-radius: $smallPixelUnit;
    &.left{
        border-top-right-radius: $smallPixelUnit;
    }
    &.right{
        border-top-left-radius: $smallPixelUnit;
        // background: $btnActiveColor;
        // color: #fff;
    }
}
.title{
    color: #999;
    font-size: 12px;
    font-weight: 400;
    &.right{text-align: right;}
}
