@import 'src/scss/variables';

.content{
    background: #eee;
    word-break: break-all;
    border-bottom-left-radius: $smallPixelUnit;
    border-bottom-right-radius: $smallPixelUnit;
    &.left{
        border-top-right-radius: $smallPixelUnit;
    }
    &.right{
        border-top-left-radius: $smallPixelUnit;
    }
}
.title{
    color: #999;
    font-size: 13px;
    &.right{text-align: right;}
}
