<div class="chat-msg flex mb-2" [ngClass]="directionClass">

    <app-avatar *ngIf="dir==='left'" class="avatar" url="./assets/login/top.jpeg"></app-avatar>
    
    <div class="main ml-1 mr-1">
        <ng-template ChatMsgRender></ng-template>
        <!-- <span class="title block">你的名字</span>
        <div class="content p-1 mt-sm-1">
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
            这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
        </div> -->
    </div>

    <app-avatar *ngIf="dir==='right'" class="avatar" url="./assets/login/top.jpeg"></app-avatar>
    
</div>