@import 'src/scss/variables';

.chat-msg{
    font-size: 12px;
    align-items: flex-start;
    max-width: 432px;
    &.right{
        margin-left: auto;
        justify-content: flex-end;
        // .title{ text-align: right ;}
        // .content{
        //     border-top-left-radius: $smallPixelUnit;
        // }
    }

    // &.left{
    //     .content{
    //         border-top-right-radius: $smallPixelUnit;
    //     }
    // }

    .avatar{
        width: 5 * $pixelUnit;
        height: 5 * $pixelUnit;
        flex-shrink: 0;
    }
}