html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.test {
    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    border: 1px solid #343434;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.247);
}

.image-canvas {
    position: absolute;
    display: none;
    
    /* width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.247);
    left: 200px;
    top: 100px; */

    z-index: 1;
    cursor: move;
}


.operate-circle{
    position: absolute;
    width: 10px; height: 10px;
    background: #fff;
    border: 2px solid #67bade;
    border-radius: 50%; 
}
.circle-lefttop{
    left: -5px; top: -5px;
    cursor: nwse-resize;
}
.circle-top{
    left: 50%; top:-5px; transform: translateX(-50%);
    cursor: ns-resize;
}
.circle-righttop{
    top: -5px; right: -5px;
    cursor: nesw-resize;
}
.circle-right{
    top: 50%; right: -5px; transform: translateY(-50%);
    cursor: ew-resize;
}
.circle-rightbottom{
    top: 100%; right: -5px; transform: translateY(-100%);
    cursor: nwse-resize;
}
.circle-bottom{
    left: 50%; top: 100%; transform: translate(-100%, -100%);
    cursor: ns-resize;
}
.circle-leftbottom{
    left: -5px; top: 100%; transform: translateY(-100%);
    cursor: nesw-resize;
}
.circle-left{
    left: -5px; top: 50%; transform: translateY(-50%);
    cursor: ew-resize;
}


.size-info {
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    background: rgba(40, 40, 40, 0.8);
    padding: 5px 10px;
    border-radius: 2px;
    font-family: Arial Consolas sans-serif;
    display: none;
    z-index: 2;
}

.toolbar {
    position: absolute;
    color: #343434;
    font-size: 12px;
    background: #f5f5f5;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: Arial Consolas sans-serif;
    display: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 2;
    align-items: center;
}

.toolbar .iconfont {
    font-size: 24px;
    padding: 2px 5px;
}