@charset "UTF-8";

@font-face {
	font-family: "SourceHanSansCN-Regular";
	/* src: url("SourceHanSansCN-Regular.woff2") format("woff2"),
       url("SourceHanSansCN-Regular.woff") format("woff"),
       url("SourceHanSansCN-Regular.ttf") format("truetype"),
       url("SourceHanSansCN-Regular.eot") format("embedded-opentype"),
       url("SourceHanSansCN-Regular.svg") format("svg"); */
	src: url("sourcehansanscn-regular-webfont.woff2") format("woff2"),
		url("sourcehansanscn-regular-webfont.woff") format("woff"),
		url("sourcehansanscn-regular-webfont.ttf") format("truetype"),
		url("sourcehansanscn-regular-webfont.eot") format("embedded-opentype"),
		url("sourcehansanscn-regular-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}