@charset "UTF-8";

@font-face {
  font-family: "SourceHanSansCN-Bold";
  src: url("sourcehansanscn-bold-webfont.woff2") format("woff2"),
       url("sourcehansanscn-bold-webfont.woff") format("woff"),
       url("sourcehansanscn-bold-webfont.ttf") format("truetype"),
       url("sourcehansanscn-bold-webfont.eot") format("embedded-opentype"),
       url("sourcehansanscn-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}