<div class="sidenav-conatainer h-100">
	<div class="p-2 mb-1 avatar">
		<img src="./assets/login/top.jpeg" class="w-100 h-100 rounded">
    </div>
    
    <mat-nav-list>
        <a mat-list-item #matListItem
            *ngFor="let menu of menus; let i = index;"
            [class.active]="i === 0 && !menu.last"
            [class.last]="menu.last"
        >
            <span class="active-bar"></span>
            <mat-icon class="mat-18" 
                [matBadgeHidden]="i !== 0" matBadge="99" matBadgeColor="accent"
                [matTooltip]="menu.name" matTooltipPosition="right"
            >{{menu.icon}}</mat-icon>
        </a>
    </mat-nav-list>

</div>
