@import 'src/scss/variables';

.sidenav-conatainer{
    box-shadow: 2px 2px 2px #fbfbfb;
	user-select: none;
	.mat-nav-list{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        color: $btnInactiveColor;
        .mat-icon{
            font-size: 27px;
            width: auto;
            height: auto;
        }
		a{
            color: inherit;
			&.active{
				color: $primaryColor;
			}
			&.last{
                margin-top: auto;
                margin-bottom: 7 * $unit;
			}
			&:hover{
				cursor: pointer;
			}
			.mat-badge-medium.mat-badge-above .mat-badge-content{ 
				top: -8px; 
                right: -16px;
                background: #e83e8c!important;
			}
        }
	}
	
	.avatar{
		height: 72px;
	}
}

// 设置菜单
// .mat-menu-item{
//     color: #bdbac2;
//     &:hover{
//         color: #2196F3;
//     }
//     .mat-icon{
//         color: inherit;
//     }
// }
