@import "src/scss/variables";

.chat-list-container{
    background: #fdfdfd;
    .mat-list{
        overflow: auto;
        padding-top: 0;
        &:hover{
            cursor: pointer;
        }
        .mat-list-avatar{width: 45px; height: 45px;}
        .title{
            .subtitle{ float: left; font-size: 14px; color: $btnInactiveColor; }
            .time{
                margin-right: 0; margin-left: auto; 
                width: 64px;
                color: $btnInactiveColor;
                font-size: 12px;
                float: right;
                margin-top: 2px;
            }
        }
        .sketch{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            padding-top: 3 * $smallPixelUnit;
            color: $btnInactiveColor;
        }
        .mat-list-item{
            .mat-divider{
                border-top-width: 1px;
                border-top-color: transparent;
            }
            &:hover{
                .mat-divider{border-top-color: $btnActiveColor;}
            }
            &.active{
                .mat-divider{border-top-color: $btnActiveColor;}
            }
            &.online{
                .subtitle{color: #212529;}
                .sketch{color: #212529;}
            }
            // &.offline{}
        }
    }

    // ul{
    //     list-style: none;
    //     li{ overflow: hidden; }
    //     overflow: auto;
    // }
    // article{
    //     font-size: 0;
    //     >div{display: inline-block;}
    //     .avatar{ 
    //         width: 40px; height: 40px; 
    //         flex-grow: 0; flex-shrink: 0;   // 主要不进行缩小
    //         vertical-align: top;
    //     }
    //     .content {
    //         width: calc(100% - 40px);
    //         font-size: 12px;
    //         overflow: hidden;
    //         justify-content: space-between;
    //         .title{
    //             .subtitle{ float: left; font-size: 14px; }
    //             .time{
    //                 margin-right: 0; margin-left: auto; 
    //                 width: 64px;
    //                 color: #aaa;
    //             }
    //         }
    //         .sketch{
    //             white-space: nowrap;
    //             overflow: hidden;
    //             text-overflow: ellipsis;
    //             color: #999;
    //         }
    //         .mat-divider{
    //             margin-top: 8px; margin-bottom: 8px;
    //         }
    //     }
    // }
}