<div class="chat-list-container h-100">
    <ul class="p-0 pl-1 m-0 pt-1 h-100">
        <li class="block pt-1 pb-1" *ngFor="let item of listArray">
            <article>
                <div class="avatar">
                    <img src="./assets/login/top.jpeg" class="w-100 h-100 rounded">
                </div>
                <div class="content pl-1">
                    <div class="title pr-1">
                        <span class="subtitle">有个人</span>
                        <span class="time block">2019-03-28</span>
                    </div>
                    <div class="sketch w-100 pr-1">我只是稍微的说了一句话我只是稍微的说了一句话</div>

                    <mat-divider></mat-divider>
                </div>
            </article>
        </li>
    </ul>
</div>