@import "src/scss/variables";

.chat-list-container{
    background: #fdfdfd;
    .mat-list{
        overflow: auto;
        padding-top: 0;
        &:hover{
            cursor: pointer;
        }
        .mat-list-avatar{width: 45px; height: 45px;}
        .title{
            .subtitle{ float: left; font-size: 14px; color: $btnInactiveColor; }
            .time{
                margin-right: 0; margin-left: auto; 
                width: 64px;
                color: $btnInactiveColor;
                font-size: 12px;
                float: right;
                margin-top: 2px;
            }
        }
        .sketch{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            padding-top: 3 * $smallPixelUnit;
            color: $btnInactiveColor;
        }
        .mat-list-item{
            .mat-divider{
                border-top-width: 1px;
                border-top-color: transparent;
            }
            &:hover{
                .mat-divider{border-top-color: $btnActiveColor;}
            }
            &.active{
                .mat-divider{border-top-color: $btnActiveColor;}
            }
            &.online{
                .subtitle{color: #212529;}
                .sketch{color: #212529;}
            }
            // &.offline{}
        }
    }
}