@import "src/scss/variables";
@import "src/scss/common.mixin";

.chat-list-container{
    background: #f2f2f2;
    .search {
        height: 7 * $unit;
        flex-shrink: 0;
        background: #fff;
        line-height: 4*$unit;
        input{
            border: none;
            outline: none;
            background: #F1F1F1;
            border-radius: 4 * $unit;
        }
        .searchBtn{
            color: #8E8E8E;
            width: 4 * $unit; height: 4*$unit;
            line-height: inherit;
            right: 3 * $unit;
        }
    }
    .mat-list{
        flex: 1;
        overflow: auto;
        padding-top: 0;
        &:hover{ cursor: pointer; }
        .mat-list-avatar{width: 48px; height: 48px;}
        .title{
            @include f-normal;
            .subtitle{ 
                font-size: 15px;
                width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }
            .time{
                // margin-right: 0; 
                // margin-left: auto; 
                width: 64px;
                font-size: 12px;
                float: right;
                line-height: 22px;
            }
        }
        .sketch{
            @include f-normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            padding-top: 3 * $sm-unit;
            color: #656565;
        }
        .mat-list-item{
            // .mat-divider{
            //     border-top-width: 1px;
            //     border-top-color: transparent;
            // }
            &::after{
                content: '';
                position: absolute;
                left: 0; top:0; height: 100%;
                width: 4px;
                background: $primaryColor;
                visibility: hidden;
            }
            &:hover{
                // .mat-divider{border-top-color: $btnActiveColor;}
                background: #fff;
            }
            &.active{
                // .mat-divider{border-top-color: $btnActiveColor;}
                background: #fff;
                &::after{
                    visibility: visible;
                }
            }
            // &.online{
                // .subtitle{color: #212529;}
                // .sketch{color: #212529;}
            // }
            // &.offline{}
        }
    }
}