<div class="chat-input-container h-100">
    <div class="menu-bar pl-1 pr-2">
        <span class="inline-block pl-1 pr-1 pt-sm-1 pb-sm-1" matRipple
            *ngFor="let menu of menus; let i = index;"
            [class.last]="menu.last">
            <mat-icon class="mat-14" 
                [matTooltip]="menu.name" matTooltipPosition="above"
            >{{menu.icon}}</mat-icon>
        </span>
    </div>
    <div class="input w-100">
        <textarea class="w-100 h-100 p-1 pb-0"></textarea>
    </div>
</div>