.chat-input-container {
    .menu-bar{
        font-size: 0;
        span{
            &.last{float: right;}
            &:hover{cursor: pointer;}
        }
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
    }
    .input{
        height: calc(100% - 40px);
        textarea{
            border:none;
            outline: 0px;
            resize: none;
            font-size: 14px;
        }
    }
}