@import 'src/scss/variables';
@import 'src/scss/common.mixin';

.chat-input-container {
    font-size: 0;
    // box-shadow: 3px 0px 0px 1px #f5f5f5;
    box-shadow: 2px -1px 6px 0px rgba(0,0,0,0.16);
    // .menu-bar{
    //     font-size: 0;
    //     span{
    //         &.last{float: right;}
    //         &:hover{cursor: pointer;}
    //     }
    //     border-bottom: 1px solid #eee;
    //     border-top: 1px solid #eee;
    // }
    .input{
        button{
            color: $btnInactiveColor;
            &.emoji{ 
                top:$pixelUnit;
            }
            // &.send{
            //     top: $pixelUnit;
            //     right: 0px;
            // }
        }
        textarea{
            border:none;
            outline: 0px;
            resize: none;
            font-size: 16px;
            height: 7 * $pixelUnit;
            line-height: 24px;
            background-color: #f5f5f5;
            &::placeholder{
                color: #C5C5C5;
            }
        }
    }

    button.file{
        margin-right: 2 * $pixelUnit;
        margin-top: $pixelUnit;
        background-color: $primaryColor;
        color: #fff;
        // &:hover{
            // opacity: .8
        // }
        .mat-icon{width: 18px;}
    }

    button.send{
        margin-left: 2 * $pixelUnit;
        color: $primaryColor;
        width: 7 * $pixelUnit;
        height: 7 * $pixelUnit;
        .mat-icon{width: 36px; height: 36px;}
    }
}