@import './../../../../scss/variables';

.app-topbar{
    height: 5 * $pixelUnit;
    // font-size: 14px;
    // background: rgba(0, 0, 0, 0.2);;
    -webkit-app-region: drag;
    // position: fixed;
    // width: 100%; left: 0; top: 0;
    // color: #fff;
    // z-index: 1000;
    &:hover{
        cursor: pointer;
    }
    .action-menu{
        float: right; font-size: 0;
    }
    .mat-icon{
        // width: 18px; height: 18px;
        // line-height: 1;
        // font-size: 18px;
        user-select: none;
    }
}