@import 'src/scss/variables';
@import 'src/scss/common.mixin';

.app-topbar{
    height: 3 * $pixelUnit;
    width: 100%; left: 0; top: 0;
    justify-content: space-between;
    &.login{
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
        &::after{
            height: 0;
        }
    }
    &.register{
        color: #999;
    }
    &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.05);;
        left: 0;
        bottom: 0px;
    }

    .app-icon{width: 3 * $pixelUnit;}
    .app-region{
        -webkit-app-region: drag;
        flex-grow: 1;
    }
    
    .time{
        font-size: 13px;
        @include unselect;
        line-height: 3 * $pixelUnit;
    }

    .app-menu{
        font-size: 0;
    }

    .mat-icon{
        &:hover{
            cursor: pointer;
        }
        @include unselect;
    }
}