@import './../../../../scss/variables';
@import './../../../../scss/common.mixin';

.app-topbar{
    height: 3 * $pixelUnit;
    background: rgba(0, 0, 0, 0.2);
    width: 100%; left: 0; top: 0;
    color: #fff;
    justify-content: space-between;

    .app-icon{width: 3 * $pixelUnit;}
    .app-region{
        -webkit-app-region: drag;
        flex-grow: 1;
    }
    
    .time{
        @include unselect;
        span{vertical-align: middle;}
        
    }

    .app-menu{
        font-size: 0;
    }

    .mat-icon{
        &:hover{
            cursor: pointer;
        }
        @include unselect;
    }
}