/* You can add global styles to this file, and also import other style files */

// 字体图标
// @import "./../node_modules/material-design-icons/iconfont/material-icons.css";

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/css/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';


@import './scss/variables';

// 或放入到angular.json中
// @import './scss/theme.scss';

@import './scss/variables';
@import 'assets/css/Source_Han_Sans_CN.scss';
@import './scss/_init';

html, body{
    height: 100%;
    font-family: 'Shs_Regular';
}

body {
    // font-family: Roboto, Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    background: #fff;
    color: #bdbac2;
    * {
        box-sizing: border-box;
    }
}