/* You can add global styles to this file, and also import other style files */

// 字体
// @import 'assets/font/SourceHanSansCN-Bold.css';
// @import 'assets/font/SourceHanSansCN-Regular.css';

// 图标字体
@import 'assets/icon/iconfont/iconfont.css';

// 字体图标
// @import "./../node_modules/material-design-icons/iconfont/material-icons.css";

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/css/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';

@import './scss/common.mixin';
@import './scss/variables';

// 或放入到angular.json中
// @import './scss/theme.scss';

@import './scss/scrollbar';
@import './scss/init';


html, body{
    height: 100%;
    @include f-normal;
}

body {
    // font-family: Roboto, Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    background: #fff;
    // color: #bdbac2;
    * {
        box-sizing: border-box;
    }
}