/* You can add global styles to this file, and also import other style files */
//
// @import "./../node_modules/bootstrap/scss/bootstrap.scss";
// @import "./../node_modules/bootstrap/scss/bootstrap-grid.scss";

// 字体图标
// @import "./../node_modules/material-design-icons/iconfont/material-icons.css";

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';


@import './scss/variables';

// 或放入到angular.json中
// @import './scss/custom-theme.scss';


/* 滚动条样式 */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
/* 背景 */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0);
    // border-radius: 10px;
    //margin: 2px 0;
}
/* bar */
::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    //background: #ddd;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

html, body{
    height: 100%;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    * {
        box-sizing: border-box;
    }
}

// 预定义一些常用样式: 圆角、阴影等...

// 百分比宽高
@for $index from 1 through 100 {
    .w-#{$index} { width : $index * 1% ; }
    .h-#{$index} { height: $index * 1%; }
}


@each $var in (block, flex, inline, inline-block, inline-flex, table) {
    .#{$var}{
        display: #{$var};
    }
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}


// 边框
// border-top: 1px solid;
@each $var in (top, right, bottom, left) {
    .border-#{$var} {
        border-#{$var}-width: 1px;
        border-#{$var}-style: solid;
    }
}

// 内填充和边距
// m0 - m8, p0-p8
@each $key, $value in (m: margin, p: padding) {
    @for $rate from 0 through 8 {
        // m-0
        .#{$key}-#{$rate} {
            #{$value}: $rate * $pixelUnit;
        }
        // m-sm-0
        .#{$key}-sm-#{$rate} {
            #{$value}: $rate * $smallPixelUnit;
        }
        // m-mn-0
        .#{$key}-mn-#{$rate} {
            #{$value}: $rate * $miniPixelUnit;
        }
    }
// mt-0 - mt-8, pt-0 - pt-8
    @each $direction, $dirValue in (t:top, r:right, b:bottom, l:left) {
        @for $rate from 0 through 8 {
            // mt-1
            .#{$key}#{$direction}-#{$rate} {
                #{$value}-#{$dirValue}: $rate * $pixelUnit;
            }
            // mt-sm-1
            .#{$key}#{$direction}-sm-#{$rate} {
                #{$value}-#{$dirValue}: $rate * $smallPixelUnit;
            }
            // mt-mn-1
            .#{$key}#{$direction}-mn-#{$rate} {
                #{$value}-#{$dirValue}: $rate * $miniPixelUnit;
            }
        }
    }
}

// 文字对齐方式
@each $var in (left, center, right) {
    .text-#{$var}{ text-align: #{$var} }
}

// 圆角
.rounded {
    border-radius: $smallPixelUnit;
}
@each $lfKey, $lfValue in (l:left, r:right) {
    @each $tbKey, $tbValue in (t:top, b:bottom) {
        // rounded-lt, rounded-lb
        .rounded-#{$tbKey}#{$lfKey}-radius {
            // border-top-left-radius: 
            // border-bottom-left-radius: 
            border-#{$tbValue}-#{$lfValue}-radius: $smallPixelUnit;
        }
    }
}


@each $var in (absolute, relative, static, fixed) {
    .position-#{$var}{
        position: #{$var}
    }
}