/* You can add global styles to this file, and also import other style files */
// @import "./../node_modules/bootstrap/scss/bootstrap.scss";

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; 
// @import '~@angular/material/prebuilt-themes/purple-green.css';

html, body{
    height: 100%;
}

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    * {
        box-sizing: border-box;
    }
}
