@mixin unselect {
    user-select: none;
}

@mixin f-normal{
    font-family: 'SourceHanSansCN-Regular', 'Microsoft YaHei', '微软雅黑';
    font-weight: 400;
}

@mixin f-bold {
    font-family: 'SourceHanSansCN-Bold', 'Microsoft YaHei', '微软雅黑';
}