
/* 滚动条样式 */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
/* 背景 */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0);
    // border-radius: 10px;
    //margin: 2px 0;
}
/* bar */
::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    //background: #ddd;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

// ::-webkit-scrollbar {
//     width: 5px
// }

// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.06)
// }

// ::-webkit-scrollbar-thumb {
//     background: #e8e8e8
// }
