// $rateStep: 8px !default;
// $halfRateStep: 4px !default;


$pixelUnit: 8px !default;
$smallPixelUnit: $pixelUnit / 2;
$miniPixelUnit: $pixelUnit / 4;

$btnActiveColor: #2196F3;
$btnInactiveColor: #bdbac2;
