// $rateStep: 8px !default;
// $halfRateStep: 4px !default;


$pixelUnit: 8px !default;
$smallPixelUnit: $pixelUnit / 2;
$miniPixelUnit: $pixelUnit / 4;

$btnActiveColor: #E53F14;
$btnInactiveColor: #8E8E8E;

$primaryColor: #E53F14;
