// $rateStep: 8px !default;
// $halfRateStep: 4px !default;


$unit: 8px !default;
$sm-unit: $unit / 2;
$mn-unit: $unit / 4;

$btnActiveColor: #E53F14;
$btnInactiveColor: #8E8E8E;

$primaryColor: #E53F14;
