// 定义主题
/**
    主调色板：那些在所有屏幕和组件中广泛使用的颜色。
    强调调色板：那些用于浮动按钮和可交互元素的颜色。
    警告调色板：那些用于传达出错状态的颜色。
    前景调色板：那些用于文字和图标的颜色。
    背景色调色板：那些用做元素背景色的颜色。
**/

@import '~@angular/material/theming';

// 它包括所有供多个组件使用的公共样式， 只能导入一次
@include mat-core();


$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


// 主色
$my-app-primary: mat-palette($mat-grey);
// secondColor: 辅助色
// 强调色
$my-app-accent:  mat-palette($mat-pink);
// 警告
$my-app-warn: mat-palette($mat-pink);

// $mat-light-theme-foreground: (
//   base:              black,
//   divider:           $dark-dividers,
//   dividers:          $dark-dividers,
//   disabled:          $dark-disabled-text,
//   disabled-button:   rgba(black, 0.26),
//   disabled-text:     $dark-disabled-text,
//   elevation:         black,
//   hint-text:         $dark-disabled-text,
//   secondary-text:    $dark-secondary-text,
//   icon:              rgba(black, 0.54),
//   icons:             rgba(black, 0.54),
//   text:              rgba(black, 0.87),
//   slider-min:        rgba(black, 0.87),
//   slider-off:        rgba(black, 0.26),
//   slider-off-active: rgba(black, 0.38),
// );


// $mat-light-theme-background: (
//   status-bar: map_get($mat-grey, 300),
//   app-bar:    map_get($mat-grey, 100),
//   background: map_get($mat-grey, 50),
//   hover:      rgba(black, 0.04),
//   card:       white,
//   dialog:     white,
//   disabled-button: rgba(black, 0.12),
//   raised-button: white,
//   focused-button: $dark-focused,
//   selected-button: map_get($mat-grey, 300),
//   selected-disabled-button: map_get($mat-grey, 400),
//   disabled-button-toggle: map_get($mat-grey, 200),
//   unselected-chip: map_get($mat-grey, 300),
//   disabled-list-option: map_get($mat-grey, 200),
// );


// 利用自定义颜色组装自定义主题
$my-app-theme:   mat-light-theme($my-app-primary, $my-app-accent);

// Include the default theme styles.
// 设置主题颜色使其生效
@include angular-material-theme($my-app-theme);

// angular-material-theme
// mat-light-theme
// $mat-light-theme-foreground
// $mat-light-theme-background


