@import "src/scss/variables";

div{
    background:#fff; width:100%;
    box-shadow: 3px 3px 10px 1px #ddd;
    color: #545454;
    padding: $unit 0;
    ul{
        list-style: none;
        text-align: center;
        li{
            padding: $sm-unit 0;
            font-size: 14px;
            &:hover{
                cursor: pointer;
                background: rgba(0,0,0,0.05);
            }
        }
    }
}